@font-face {
  font-family: 'NexaBold';
  src: url("./font/Fontfabric - Nexa-Black.otf") format('opentype');
}

@font-face {
  font-family: 'NexaRegular';
  src: url("./font/Fontfabric - Nexa-Regular.otf") format('opentype');
}

* {
  font-family: NexaRegular;
}

button {
  margin: 30px;
  font-size: 2rem !important;
}

span {
  width: 100%;
  word-wrap: break-word;
}

div {
  width: 100%;
  text-align: center;
}

p {
  width: 100%;
  word-wrap: break-word;
}

h1 {
  font-family: NexaBold;
}

div.resultBox {
  background-color: #F8F9F9;
  padding: 20px;
}

.wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  display: none;
}

.wrapper > p {
  text-align: left;
}

.wrapper > div > p {
  text-align: left;
}

.txWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.txWrapper input {
  width: 100%;
}

.txWrapper textarea {
  width: 100%;
}

.txWrapper span {
  margin: 10px;
}

#selector {
  display: flex;
  flex-direction: column;
  font-family: NexaBold;
  position: fixed;
  background-color: #f9f9f9;
  height: 360px;
  padding: auto;
  padding-top: 25px;
  padding-left: 20px;
}

.checkbox {
  display: flex;
  margin-left: 30px;
}

.toggle-off {
  border: 2px solid black;
}

#blank {
  height: 360px;
}
