.wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.txWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.txWrapper span {
  margin: 10px;
}

button {
  margin: 30px;
  font-size: 25px;
}

span {
  width: 100%;
  word-wrap: break-word;
}

div {
  width: 100%;
  text-align: center;
  /*display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;*/
}

p {
  width: 100%;
  word-wrap: break-word;
}
